<template>
	<div>
		<h1>{{ message }}</h1>
	</div>
</template>

<script>
export default {
	name: 'example-component',
	data() {
		return {
			message: 'This is a example component!',
		}
	},
}
</script>
