/**
 * Theme Name: AreaStructure
 * Theme URI: http://www.arealocal.com.br
 * Author: Equipe &Aacute;rea Local
 * Author URI: http://www.arealocal.com.br
 * Description: Esse tema &eacute; um tema personalizado pela &Aacute;rea Local, caso necessite de algum atendimento entre em contato no telefone <a href="tel:+554735219850" target="_blank">(47) 3521-9850</a> ou no e-mail <a href="mailto:suporte@arealocal.com.br" target="_blank">suporte@arealocal.com.br</a>. Para mais informa&ccedil;&otilde;es acesse: <a href="http://www.arealocal.com.br" target="_blank">www.arealocal.com.br</a>.
 * Version: 4.0.0
 * Text Domain: estrutura-basica
**/
/* Global variables
========================================================================== */
/* Mixins
========================================================================== */
/* Global Mixins
========================================================================== */
/* Resets
========================================================================== */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
*:not(.fas, .fab, .fa),
*:before:not(.fas, .fab, .fa),
*:after:not(.fas, .fab, .fa) {
  font-size: 1rem;
}

a {
  transition: all linear 0.2s;
}
a:focus, a:hover {
  text-decoration: none;
}

input,
button {
  outline: none;
}

section {
  position: relative;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/* Global classes
========================================================================== */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.al-container {
  width: 1230px;
}

.al-small-container {
  width: 1042px;
}

.al-extra-small-container {
  position: relative;
  width: 844px;
}

.al-container,
.al-small-container,
.al-extra-small-container {
  max-width: 100%;
  margin: 0 auto;
}

div.left-right-content {
  display: table;
  width: 100%;
}
div.left-right-content div.left,
div.left-right-content div.right {
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 480px) {
  div.left-right-content div.left,
div.left-right-content div.right {
    display: table-row;
  }
}

.left,
.right {
  display: inline-block;
  width: 49.5%;
  position: relative;
  vertical-align: top;
}
@media screen and (max-width: 480px) {
  .left,
.right {
    width: 100%;
    padding: 20px;
  }
}

/* Html / Body
========================================================================== */
html {
  height: 100%;
  overflow: auto;
}

body {
  background: #fff;
  height: 100%;
  line-height: 1.6;
  font: normal normal 16px Arial, sans-serif;
}

/* Custom scrollbar
========================================================================== */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #e6e6e6;
}

body::-webkit-scrollbar-thumb {
  background: #000;
}
body::-webkit-scrollbar-thumb:hover {
  background: black;
}

/* Mobmenu Classes
========================================================================== */
.mob-menu-header-holder,
.mobmenu {
  z-index: 99 !important;
}

.mobmenul-container {
  top: 0 !important;
  right: 2% !important;
  z-index: 0 !important;
  background: #000;
  padding: 10px 10px 0px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.mob-icon-menu,
.mob-menu-icon {
  color: #fff !important;
}

[class^=mob-icon-]:before,
[class*=mob-icon-]:before {
  font-size: 28px !important;
  width: unset !important;
}

/* Contact Form 7
========================================================================== */
.form-container .ajax-loader {
  display: none !important;
}
.form-container span[role=alert] {
  display: none !important;
}
.form-container .wpcf7-not-valid {
  border: 1px solid #dc3545 !important;
}
.form-container .wpcf7-not-valid.placeholder {
  color: #dc3545 !important;
}
.form-container .wpcf7-not-valid:-moz-placeholder {
  color: #dc3545 !important;
}
.form-container .wpcf7-not-valid::-moz-placeholder {
  color: #dc3545 !important;
}
.form-container .wpcf7-not-valid:-ms-input-placeholder {
  color: #dc3545 !important;
}
.form-container .wpcf7-not-valid::-webkit-input-placeholder {
  color: #dc3545 !important;
}
.form-container div[role=alert] {
  position: absolute;
  bottom: 0;
  font-weight: bold;
  text-align: center;
  background: #f1f1f1;
  width: 100%;
  max-width: 502px;
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.form-container div[role=alert].wpcf7-validation-errors {
  border-color: #dc3545;
  color: #dc3545;
}
.form-container div[role=alert].wpcf7-mail-sent-ok {
  border-color: #28a745;
  color: #28a745;
}
@media screen and (max-width: 480px) {
  .form-container div[role=alert] {
    position: initial;
    max-width: 100%;
  }
}

/* Pages
========================================================================== */
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRxC7mw9c.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRzS7mw9c.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRxi7mw9c.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRxy7mw9c.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRxC7mw9c.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRzS7mw9c.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRxi7mw9c.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRxy7mw9c.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRxC7mw9c.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRzS7mw9c.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRxi7mw9c.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRxy7mw9c.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRxC7mw9c.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRzS7mw9c.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRxi7mw9c.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRxy7mw9c.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRxC7mw9c.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRzS7mw9c.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRxi7mw9c.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRxy7mw9c.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRxC7mw9c.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRzS7mw9c.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRxi7mw9c.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRxy7mw9c.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRxC7mw9c.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRzS7mw9c.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRxi7mw9c.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRxy7mw9c.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRxC7mw9c.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRzS7mw9c.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRxi7mw9c.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRxy7mw9c.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRxC7mw9c.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRzS7mw9c.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRxi7mw9c.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRxy7mw9c.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Header
========================================================================== */
.main-menu {
  position: relative;
  z-index: 99999999999;
}
.main-menu .sup-menu {
  width: 100%;
  height: 35px;
  background-color: #000;
}
.main-menu .sup-menu .al-container {
  background-color: unset !important;
  position: relative;
  z-index: unset !important;
}
.main-menu .sup-menu .al-container .contato {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  height: 100%;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.main-menu .sup-menu .al-container .contato li {
  height: 35px;
  transition: all 0.3s;
}
.main-menu .sup-menu .al-container .contato li a {
  transition: all 0.3s;
}
.main-menu .sup-menu .al-container .contato li a img {
  transition: all 0.3s;
}
.main-menu .sup-menu .al-container .contato .text {
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Montserrat";
  text-align: right;
}
.main-menu .sup-menu .al-container .contato .text a {
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Montserrat";
  text-align: right;
}
.main-menu .sup-menu .al-container .contato .text a:hover {
  font-weight: 500;
}
.main-menu .sup-menu .al-container .contato .icon {
  display: flex;
  align-items: center;
}
.main-menu .sup-menu .al-container .contato .icon:hover a img {
  transform: rotateY(360deg);
}
.main-menu .sup-menu-main {
  box-shadow: 0px 0px 19px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
  background-color: #FFF;
  padding: 20px 0;
}
.main-menu .sup-menu-main .al-container {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.main-menu .sup-menu-main .al-container .logo img {
  width: 175px;
  height: 115px;
}
.main-menu .sup-menu-main .al-container .menu-lista #menu-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.main-menu .sup-menu-main .al-container .menu-lista #menu-principal li.menu-item-has-children {
  transition: all 0.3s;
}
.main-menu .sup-menu-main .al-container .menu-lista #menu-principal li.menu-item-has-children .sub-menu {
  transition: all 0.3s;
  display: none;
  position: absolute;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 0;
  padding-top: 20px;
  box-shadow: 0px 0px 19px 0 rgba(0, 0, 0, 0.25);
  background-color: #FFF;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.main-menu .sup-menu-main .al-container .menu-lista #menu-principal li.menu-item-has-children .sub-menu li {
  width: 100%;
  background-color: #FFF;
  background-image: unset;
  padding: 0 20px !important;
  height: auto;
  border-bottom: 1px rgba(0, 0, 0, 0.25) solid;
  display: flex;
  justify-content: start;
}
.main-menu .sup-menu-main .al-container .menu-lista #menu-principal li.menu-item-has-children .sub-menu li:hover a {
  color: #cdb055 !important;
}
.main-menu .sup-menu-main .al-container .menu-lista #menu-principal li.menu-item-has-children .sub-menu li:last-child {
  border-bottom: none;
}
.main-menu .sup-menu-main .al-container .menu-lista #menu-principal li.menu-item-has-children .sub-menu li:before {
  display: none;
}
.main-menu .sup-menu-main .al-container .menu-lista #menu-principal li.menu-item-has-children .sub-menu li a {
  font-size: 18px;
  line-height: 32px;
  color: #000000;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: left;
}
.main-menu .sup-menu-main .al-container .menu-lista #menu-principal li.menu-item-has-children:hover .sub-menu {
  display: block;
}
.main-menu .sup-menu-main .al-container .menu-lista #menu-principal li:last-child {
  padding: 0 10px;
  height: 33px;
  border-radius: 5px;
  background-image: linear-gradient(90deg, #ebd765 0%, #d9a51f 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
}
.main-menu .sup-menu-main .al-container .menu-lista #menu-principal li:last-child:before {
  content: "";
  display: block;
  background-image: url("./assets/images/calendar-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  top: 0%;
}
.main-menu .sup-menu-main .al-container .menu-lista #menu-principal li:last-child a {
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
}
.main-menu .sup-menu-main .al-container .menu-lista #menu-principal li:last-child:hover a {
  color: #ffffff !important;
}
.main-menu .sup-menu-main .al-container .menu-lista #menu-principal li a {
  font-size: 18px;
  line-height: 32px;
  color: #000000;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: right;
}
.main-menu .sup-menu-main .al-container .menu-lista #menu-principal li.current_page_item a, .main-menu .sup-menu-main .al-container .menu-lista #menu-principal li.current-menu-item a, .main-menu .sup-menu-main .al-container .menu-lista #menu-principal li.current-menu a {
  font-size: 18px;
  line-height: 32px;
  color: #cdb055;
  font-weight: 600;
  font-family: "Montserrat";
  text-align: right;
}
.main-menu .sup-menu-main .al-container .menu-lista #menu-principal li:hover a {
  color: #cdb055;
}

.al-container {
  background-color: #FFF;
  position: relative;
  z-index: 999;
}

@media screen and (max-width: 1230px) {
  .main-menu {
    display: none;
  }

  .page-template-default {
    padding-top: 50px !important;
  }
}
/* Footer
========================================================================== */
.main-footer .sup-footer .al-container .ul-footer {
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.main-footer .sup-footer .al-container .ul-footer li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-footer .sup-footer .al-container .ul-footer .pessoa {
  max-width: 135px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  flex-wrap: wrap;
  margin-top: 5%;
}
.main-footer .sup-footer .al-container .ul-footer .pessoa .nome {
  font-size: 18px;
  line-height: 20px;
  color: #393838;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
}
.main-footer .sup-footer .al-container .ul-footer .pessoa .nome .cro {
  font-size: 12px;
  line-height: 20px;
  color: #717171;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
}
.main-footer .sup-footer .al-container .ul-footer .pessoa .redes a {
  transition: all 0.3s;
}
.main-footer .sup-footer .al-container .ul-footer .pessoa .redes a img {
  transition: all 0.3s;
  height: 30px;
  width: 30px;
}
.main-footer .sup-footer .al-container .ul-footer .pessoa .redes a:hover img {
  transform: rotateY(360deg);
}
.main-footer .sup-footer .al-container .ul-footer .agenda a {
  padding: 0 10px;
  height: 33px;
  border-radius: 5px;
  background-image: linear-gradient(90deg, #ebd765 0%, #d9a51f 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
}
.main-footer .sup-footer .al-container .ul-footer .agenda a img {
  margin-right: 10px;
}
.main-footer .sub-footer {
  height: 31px;
  background-color: #3a3838;
  font-size: 14px;
  line-height: 32px;
  color: #CCC;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: right;
}
.main-footer .sub-footer a {
  font-size: 14px;
  line-height: 32px;
  color: #CCC;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: right;
}
.main-footer .sub-footer a:hover {
  color: #FFF;
}
.main-footer .sub-footer .al-container {
  position: unset;
  background-color: unset;
}

@media screen and (max-width: 1230px) {
  .main-footer .sup-footer .al-container .ul-footer li {
    width: 100% !important;
    padding: 20px 0 !important;
  }
}
/* Home
========================================================================== */
.slider {
  width: 100%;
  max-height: 54vh;
  overflow: hidden;
  cursor: pointer;
}

.slider-mobile {
  display: none;
}

.tratamentos {
  padding: 40px 0;
}
.tratamentos:before {
  content: "";
  display: block;
  background-image: url("./assets/images/detalhe-lateral.webp");
  background-repeat: no-repeat;
  background-size: contain;
  width: 350px;
  height: 218px;
  position: absolute;
  top: auto;
  bottom: 0;
}
.tratamentos:after {
  content: "";
  display: block;
  background-image: url("./assets/images/detalhe-lateral.webp");
  background-repeat: no-repeat;
  background-size: contain;
  width: 350px;
  height: 218px;
  position: absolute;
  right: 0;
  top: 130px;
}
.tratamentos .al-container .title {
  font-size: 45px;
  line-height: 32px;
  color: #393738;
  font-weight: 600;
  font-family: "Montserrat";
}
.tratamentos .al-container .title .underline {
  margin: 10px 0;
  width: 155px;
  height: 7px;
  background-image: linear-gradient(90deg, #e9d14f 0%, #b99347 100%);
}
.tratamentos .al-container .lista-tratamentos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.tratamentos .al-container .lista-tratamentos .tratamento {
  margin-top: 20px;
  width: 300px;
  height: 375px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
  border-radius: 8px;
  transition: all 0.3s;
}
@media screen and (max-width: 700px) {
  .tratamentos .al-container .lista-tratamentos .tratamento {
    background-color: #e0c13a;
  }
}
.tratamentos .al-container .lista-tratamentos .tratamento:hover {
  transform: rotate3d(1);
  z-index: 9999;
  background-color: #e0c13a;
}
.tratamentos .al-container .lista-tratamentos .tratamento:hover .nome, .tratamentos .al-container .lista-tratamentos .tratamento:hover .texto, .tratamentos .al-container .lista-tratamentos .tratamento:hover .veja-mais {
  color: #FFF;
}
.tratamentos .al-container .lista-tratamentos .tratamento:hover:before {
  background-image: url("./assets/images/background-tratamento-hover.png");
}
@media screen and (max-width: 700px) {
  .tratamentos .al-container .lista-tratamentos .tratamento:hover:before {
    background-image: url("./assets/images/background-tratamento.png");
  }
}
.tratamentos .al-container .lista-tratamentos .tratamento:before {
  z-index: 1;
  content: "";
  display: block;
  position: absolute;
  background-image: url("./assets/images/background-tratamento.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 290px;
  height: 375px;
}
@media screen and (max-width: 700px) {
  .tratamentos .al-container .lista-tratamentos .tratamento:before {
    background-image: url("./assets/images/background-tratamento-hover.png");
  }
}
.tratamentos .al-container .lista-tratamentos .tratamento .img {
  transition: all 0.3s;
  z-index: 2;
  box-shadow: -3.032px 10.574px 12px rgba(37, 37, 37, 0.07);
  background-color: #242424;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 20px;
  padding: 10px;
}
.tratamentos .al-container .lista-tratamentos .tratamento .img img {
  width: 85px;
  height: 85px;
  -o-object-fit: contain;
     object-fit: contain;
}
.tratamentos .al-container .lista-tratamentos .tratamento .nome {
  transition: all 0.3s;
  z-index: 2;
  font-size: 22px;
  line-height: 32px;
  color: #292a2d;
  font-weight: 600;
  font-family: "Montserrat";
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 700px) {
  .tratamentos .al-container .lista-tratamentos .tratamento .nome {
    color: #FFF;
  }
}
.tratamentos .al-container .lista-tratamentos .tratamento .texto {
  transition: all 0.3s;
  z-index: 2;
  font-size: 16px;
  line-height: 24px;
  color: #292a2d;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  padding: 0 10px;
}
@media screen and (max-width: 700px) {
  .tratamentos .al-container .lista-tratamentos .tratamento .texto {
    color: #FFF;
  }
}
.tratamentos .al-container .lista-tratamentos .tratamento .veja-mais {
  text-transform: uppercase;
  transition: all 0.3s;
  z-index: 2;
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
  color: #d8ad33;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (max-width: 700px) {
  .tratamentos .al-container .lista-tratamentos .tratamento .veja-mais {
    color: #FFF;
  }
}
.tratamentos .al-container .lista-tratamentos .tratamento .veja-mais:hover {
  font-weight: 600;
}

.agendar {
  padding: 120px 0;
  display: flex;
  justify-content: right;
  align-items: flex-start;
}
.agendar .left {
  margin-left: auto;
  margin-right: 50px;
  width: 380px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.agendar .left .btn {
  margin-top: 30px;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  width: 332px;
  height: 44px;
  border-radius: 50px;
  background-color: #24DA4E;
  border: #24DA4E solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.agendar .left .btn img {
  transition: all 0.3s;
  margin: 0 5px;
  width: 20px;
  height: 20px;
}
.agendar .left .btn img + img {
  width: 0px;
}
.agendar .left .btn:hover {
  color: #24DA4E;
  background-color: #ffffff;
}
.agendar .left .btn:hover img {
  width: 0px;
}
.agendar .left .btn:hover img + img {
  width: 20px;
}
.agendar .right {
  width: 50%;
}
.agendar .right img {
  min-height: 220px;
  width: 100%;
  max-height: 240px;
}

.agendar-inv {
  padding: 120px 0;
  display: flex;
  justify-content: right;
  align-items: flex-start;
}
.agendar-inv .left {
  width: 50%;
}
.agendar-inv .left img {
  min-height: 220px;
  width: 100%;
  max-height: 240px;
}
.agendar-inv .right {
  margin-right: auto;
  margin-left: 50px;
  width: 380px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.agendar-inv .right .btn {
  margin-top: 30px;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  width: 332px;
  height: 44px;
  border-radius: 50px;
  background-color: #24DA4E;
  border: #24DA4E solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.agendar-inv .right .btn img {
  transition: all 0.3s;
  margin: 0 5px;
  width: 20px;
  height: 20px;
}
.agendar-inv .right .btn img + img {
  width: 0px;
}
.agendar-inv .right .btn:hover {
  color: #24DA4E;
  background-color: #ffffff;
}
.agendar-inv .right .btn:hover img {
  width: 0px;
}
.agendar-inv .right .btn:hover img + img {
  width: 20px;
}

.depoimentos:before {
  content: "";
  display: block;
  background-image: url("./assets/images/detalhe-curvado.webp");
  background-repeat: no-repeat;
  background-size: contain;
  width: 350px;
  height: 260px;
  position: absolute;
  top: 0%;
}
.depoimentos:after {
  content: "";
  display: block;
  background-image: url("./assets/images/detalhe-lateral.webp");
  background-repeat: no-repeat;
  background-size: contain;
  width: 350px;
  height: 218px;
  position: absolute;
  right: 0;
  top: 25%;
}
.depoimentos .al-container {
  position: inherit;
  z-index: 99999;
}
.depoimentos .al-container .title {
  font-size: 45px;
  line-height: 32px;
  color: #393738;
  font-weight: 600;
  font-family: "Montserrat";
}
.depoimentos .al-container .title .underline {
  margin: 10px 0;
  width: 155px;
  height: 7px;
  background-image: linear-gradient(90deg, #e9d14f 0%, #b99347 100%);
}
.depoimentos .al-container .lista-depoimentos {
  width: 40%;
  margin-left: 200px;
}
.depoimentos .al-container .lista-depoimentos #lista-depoimentos li {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.depoimentos .al-container .lista-depoimentos #lista-depoimentos li .contain {
  width: 400px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.depoimentos .al-container .lista-depoimentos #lista-depoimentos li .contain .foto {
  border-radius: 120px;
  border: #EDAD31 solid 2px;
  width: 80px;
  height: 80px;
  overflow: hidden;
}
.depoimentos .al-container .lista-depoimentos #lista-depoimentos li .contain .foto img {
  border-radius: 116px;
  width: 76px;
  height: 76px;
  -o-object-fit: cover;
     object-fit: cover;
}
.depoimentos .al-container .lista-depoimentos #lista-depoimentos li .contain .texto {
  padding: 20px 0;
  font-size: 16px;
  line-height: 24px;
  color: #686868;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}
.depoimentos .al-container .lista-depoimentos #lista-depoimentos li .contain .texto p + p, .depoimentos .al-container .lista-depoimentos #lista-depoimentos li .contain .texto div + div {
  display: none;
}
.depoimentos .al-container .lista-depoimentos #lista-depoimentos li .contain .texto p, .depoimentos .al-container .lista-depoimentos #lista-depoimentos li .contain .texto div {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.depoimentos .al-container .lista-depoimentos #lista-depoimentos li .contain .texto a {
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  color: #c09d49;
  font-weight: 400;
  color: #3a3939;
  font-family: "Montserrat";
  text-align: center;
  transition: all 0.3s;
}
.depoimentos .al-container .lista-depoimentos #lista-depoimentos li .contain .texto a .under {
  height: 2px;
  transition: all 0.3s;
  width: 0px;
  background-color: #c09d49;
  margin: auto;
}
.depoimentos .al-container .lista-depoimentos #lista-depoimentos li .contain .texto a:hover {
  color: #c09d49;
}
.depoimentos .al-container .lista-depoimentos #lista-depoimentos li .contain .texto a:hover .under {
  width: 69px;
}
.depoimentos .al-container .lista-depoimentos #lista-depoimentos li .contain .identidade {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}
.depoimentos .al-container .lista-depoimentos #lista-depoimentos li .contain .identidade .nome {
  font-size: 17px;
  line-height: 18px;
  color: #c09d49;
  font-weight: 600;
  font-family: "Montserrat";
}
.depoimentos .al-container .lista-depoimentos #lista-depoimentos li .contain .identidade .cidade {
  font-size: 16px;
  line-height: 20px;
  color: #686868;
  font-weight: 400;
  font-family: "Montserrat";
}

.lista-depoimentos-mobile {
  display: none;
  width: 100%;
}
.lista-depoimentos-mobile #lista-depoimentos-mobile li {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.lista-depoimentos-mobile #lista-depoimentos-mobile li .contain {
  width: 500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.lista-depoimentos-mobile #lista-depoimentos-mobile li .contain .foto {
  border-radius: 120px;
  border: #EDAD31 solid 2px;
  width: 80px;
  height: 80px;
  overflow: hidden;
}
.lista-depoimentos-mobile #lista-depoimentos-mobile li .contain .foto img {
  border-radius: 116px;
  width: 76px;
  height: 76px;
  -o-object-fit: cover;
     object-fit: cover;
}
.lista-depoimentos-mobile #lista-depoimentos-mobile li .contain .texto {
  padding: 20px 0;
  font-size: 16px;
  line-height: 24px;
  color: #686868;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}
.lista-depoimentos-mobile #lista-depoimentos-mobile li .contain .texto p + p, .lista-depoimentos-mobile #lista-depoimentos-mobile li .contain .texto div + div {
  display: none;
}
.lista-depoimentos-mobile #lista-depoimentos-mobile li .contain .texto p, .lista-depoimentos-mobile #lista-depoimentos-mobile li .contain .texto div {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.lista-depoimentos-mobile #lista-depoimentos-mobile li .contain .identidade {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}
.lista-depoimentos-mobile #lista-depoimentos-mobile li .contain .identidade .nome {
  font-size: 17px;
  line-height: 18px;
  color: #c09d49;
  font-weight: 600;
  font-family: "Montserrat";
}
.lista-depoimentos-mobile #lista-depoimentos-mobile li .contain .identidade .cidade {
  font-size: 16px;
  line-height: 20px;
  color: #686868;
  font-weight: 400;
  font-family: "Montserrat";
}

.visita {
  background-image: url("./assets/images/detalhe-lateral.webp");
  background-repeat: repeat-y;
  background-size: 280px;
}
.visita .al-container .title {
  font-size: 45px;
  line-height: 32px;
  color: #393738;
  font-weight: 600;
  font-family: "Montserrat";
}
.visita .al-container .title .underline {
  margin: 10px 0;
  width: 155px;
  height: 7px;
  background-image: linear-gradient(90deg, #e9d14f 0%, #b99347 100%);
}
.visita iframe {
  width: 100% !important;
  height: 500px !important;
  padding-bottom: 60px;
}

.ultimasnoticias {
  padding: 100px 0;
}
.ultimasnoticias .al-container .title {
  font-size: 45px;
  line-height: 32px;
  color: #393738;
  font-weight: 600;
  font-family: "Montserrat";
}
.ultimasnoticias .al-container .title .underline {
  margin: 10px 0;
  width: 155px;
  height: 7px;
  background-image: linear-gradient(90deg, #e9d14f 0%, #b99347 100%);
}
.ultimasnoticias .al-container .noticias {
  display: flex;
  justify-content: space-between;
  row-gap: 32px;
  flex-wrap: wrap;
}
@media screen and (max-width: 700px) {
  .ultimasnoticias .al-container .noticias {
    justify-content: center;
  }
}
.ultimasnoticias .al-container .noticia {
  width: 330px;
}
.ultimasnoticias .al-container .noticia .imagem {
  width: 100%;
  height: 260px;
}
.ultimasnoticias .al-container .noticia .imagem img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.ultimasnoticias .al-container .noticia .subtitle {
  padding: 10px 0;
  font-size: 25px;
  line-height: 28px;
  color: #c3a049;
  font-weight: 600;
  font-family: "Montserrat";
}
.ultimasnoticias .al-container .noticia .data {
  padding: 10px 0;
  font-size: 14px;
  line-height: 14px;
  color: #727272;
  font-weight: 400;
  font-family: "Montserrat";
}
.ultimasnoticias .al-container .noticia .hr {
  margin: 20px 0;
  width: 100%;
  height: 1px;
  background-color: #a4a4a4;
}
.ultimasnoticias .al-container .noticia .text {
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  font-weight: 500;
  font-family: "Montserrat";
}
.ultimasnoticias .al-container .noticia .text p + p, .ultimasnoticias .al-container .noticia .text div + div {
  display: none;
}
.ultimasnoticias .al-container .noticia .text p, .ultimasnoticias .al-container .noticia .text div {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.ultimasnoticias .al-container .noticia a {
  margin-top: 10px;
  width: 128px;
  height: 35px;
  border-radius: 18px;
  background-image: linear-gradient(90deg, #e9d14f 0%, #b99347 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}
.ultimasnoticias .al-container .noticia a:hover {
  border: #e9d14f 1px solid;
  color: #b99347;
  background-image: none;
  background-color: #FFF;
}

.lista-depoimentos .lSNext {
  right: -15px !important;
}

.lista-container .lSNext, .equipe .lSNext {
  right: -5px !important;
}
.lista-container .lSNext, .lista-container .lSPrev, .equipe .lSNext, .equipe .lSPrev {
  height: 40px;
}

.lSPager .active a {
  background-color: #e0c64d !important;
}
.lSPager li:hover a {
  background-color: #e0c64d !important;
}

@media screen and (max-width: 1230px) {
  #wrapper {
    padding: 0 20px;
  }

  .slider {
    display: none;
  }

  .slider-mobile {
    width: 100vw;
    max-height: 500px;
    overflow: hidden;
    display: block;
    margin-left: -20px;
  }

  .tratamentos:before, .tratamentos:after {
    display: none;
  }

  .agendar {
    flex-wrap: wrap;
  }
  .agendar .left {
    margin-left: unset;
    margin-right: unset;
    width: 100%;
  }
  .agendar .right {
    width: 100%;
  }
  .agendar .right img {
    width: 100%;
  }

  .agendar-inv {
    flex-wrap: wrap;
  }
  .agendar-inv .right {
    margin-left: unset;
    margin-right: unset;
    width: 100%;
  }
  .agendar-inv .left {
    width: 100%;
  }
  .agendar-inv .left img {
    width: 100%;
  }

  .visita {
    background-image: none;
  }

  .depoimentos:before, .depoimentos:after {
    display: none;
  }
  .depoimentos .lista-depoimentos {
    display: none;
  }
  .depoimentos .lista-depoimentos-mobile {
    display: block;
  }
}
.min-banner {
  width: 100%;
  height: 400px;
}
.min-banner img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.sobre-nos .al-container {
  position: unset;
}
.sobre-nos .al-container:after {
  content: "";
  display: block;
  background-image: url("./assets/images/detalhe-lateral.webp");
  background-repeat: no-repeat;
  background-size: contain;
  width: 320px;
  height: 218px;
  position: absolute;
  right: 0;
  top: 60px;
}
.sobre-nos .al-container:before {
  content: "";
  display: block;
  background-image: url("./assets/images/detalhe-lateral.webp");
  background-repeat: no-repeat;
  background-size: contain;
  width: 320px;
  height: 218px;
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
}
.sobre-nos .al-container .title {
  font-size: 45px;
  line-height: 32px;
  color: #393738;
  font-weight: 600;
  font-family: "Montserrat";
}
.sobre-nos .al-container .title .underline {
  margin: 10px 0;
  width: 155px;
  height: 7px;
  background-image: linear-gradient(90deg, #e9d14f 0%, #b99347 100%);
}
.sobre-nos .al-container .separate {
  display: flex;
  justify-content: center;
}
.sobre-nos .al-container .separate .left, .sobre-nos .al-container .separate .right {
  width: 50%;
}
.sobre-nos .al-container .separate .left {
  font-size: 18px;
  line-height: 24px;
  color: #292a2d;
  font-weight: 400;
  font-family: "Montserrat";
}
.sobre-nos .al-container .separate .left p + p {
  padding-top: 20px;
}
.sobre-nos .al-container .separate .right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sobre-nos .al-container .separate .right .lista-container {
  max-width: 100%;
  overflow: hidden;
}
.sobre-nos .al-container .separate .right .lista-container #slider-fotos li {
  height: -webkit-fill-available;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sobre-nos .al-container .separate .right .lista-container #slider-fotos li img {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sobre-nos .al-container .video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 60px 0;
}
.sobre-nos .al-container .video iframe {
  width: 50% !important;
  height: 350px !important;
}
.sobre-nos .al-container .lista {
  padding-bottom: 40px;
  font-size: 18px;
  line-height: 24px;
  color: #292a2d;
  font-weight: 400;
  font-family: "Montserrat";
}
.sobre-nos .al-container .lista p {
  padding: 20px 0;
}
.sobre-nos .al-container .lista ul {
  -moz-column-count: 3;
       column-count: 3;
}
.sobre-nos .al-container .lista ul li {
  list-style: disc;
  list-style-position: inside;
  font-size: 14px;
  line-height: 35px;
  color: #292a2d;
  opacity: 0.5;
  font-weight: 400;
  font-family: "Montserrat";
}
.sobre-nos .al-container .equipe #equipe-listagem li, .sobre-nos .al-container .equipe #equipe-listagem-mobile li {
  padding: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: -webkit-fill-available;
}
.sobre-nos .al-container .equipe #equipe-listagem li .perfil .back, .sobre-nos .al-container .equipe #equipe-listagem li .perfil .front, .sobre-nos .al-container .equipe #equipe-listagem-mobile li .perfil .back, .sobre-nos .al-container .equipe #equipe-listagem-mobile li .perfil .front {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 1s;
  min-height: 400px;
  padding: 30px 70px;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.25);
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.sobre-nos .al-container .equipe #equipe-listagem li .perfil .back, .sobre-nos .al-container .equipe #equipe-listagem-mobile li .perfil .back {
  margin-top: -400px;
  transform: rotateY(180deg);
}
.sobre-nos .al-container .equipe #equipe-listagem li .perfil:not(.disable):hover .front, .sobre-nos .al-container .equipe #equipe-listagem-mobile li .perfil:not(.disable):hover .front {
  transform: rotateY(180deg);
}
.sobre-nos .al-container .equipe #equipe-listagem li .perfil:not(.disable):hover .back, .sobre-nos .al-container .equipe #equipe-listagem-mobile li .perfil:not(.disable):hover .back {
  transform: rotateY(0deg);
}
.sobre-nos .al-container .equipe #equipe-listagem li .perfil .foto, .sobre-nos .al-container .equipe #equipe-listagem-mobile li .perfil .foto {
  border-radius: 120px;
  border: #FFF solid 6px;
  width: 120px;
  height: 120px;
  overflow: hidden;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
}
.sobre-nos .al-container .equipe #equipe-listagem li .perfil .foto img, .sobre-nos .al-container .equipe #equipe-listagem-mobile li .perfil .foto img {
  border-radius: 104px;
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
  object-fit: cover;
}
.sobre-nos .al-container .equipe #equipe-listagem li .perfil .redes a, .sobre-nos .al-container .equipe #equipe-listagem-mobile li .perfil .redes a {
  margin: 0 10px;
  transition: all 0.3s;
}
.sobre-nos .al-container .equipe #equipe-listagem li .perfil .redes a img, .sobre-nos .al-container .equipe #equipe-listagem-mobile li .perfil .redes a img {
  transition: all 0.3s;
  height: 35px;
  width: 35px;
}
.sobre-nos .al-container .equipe #equipe-listagem li .perfil .redes a:hover img, .sobre-nos .al-container .equipe #equipe-listagem-mobile li .perfil .redes a:hover img {
  transform: rotateY(360deg);
}
.sobre-nos .al-container .equipe #equipe-listagem li .perfil h2, .sobre-nos .al-container .equipe #equipe-listagem-mobile li .perfil h2 {
  padding: 20px 0;
  font-size: 20px;
  line-height: 17px;
  color: #2c2c2c;
  font-weight: 600;
  font-family: "Montserrat";
  text-align: center;
}
.sobre-nos .al-container .equipe #equipe-listagem li .perfil h3, .sobre-nos .al-container .equipe #equipe-listagem-mobile li .perfil h3 {
  padding: 20px 0;
  font-size: 12px;
  line-height: 10px;
  color: #636363;
  font-weight: 600;
  text-align: center;
  font-family: "Montserrat";
}
.sobre-nos .al-container .equipe #equipe-listagem li .perfil .line, .sobre-nos .al-container .equipe #equipe-listagem-mobile li .perfil .line {
  height: 8px;
  width: 120px;
  border-radius: 20px;
  background-color: #e0c64d;
}

.equipe + .equipe {
  display: none;
}

@media screen and (max-width: 1230px) {
  .sobre-nos {
    padding-top: 40px;
  }

  .min-banner, .equipe {
    display: none;
  }

  .equipe + .equipe {
    display: block;
  }

  .sobre-nos .al-container::before, .sobre-nos .al-container::after {
    display: none;
  }
  .sobre-nos .al-container .separate {
    flex-wrap: wrap;
  }
  .sobre-nos .al-container .separate .left, .sobre-nos .al-container .separate .right {
    width: 100%;
  }
  .sobre-nos .al-container .video iframe {
    width: 100% !important;
    height: 315px !important;
  }
  .sobre-nos .al-container .lista ul {
    -moz-column-count: 1;
         column-count: 1;
  }
}
.contato .localizacao {
  padding: 40px 0;
}
.contato .localizacao .contain {
  padding: 40px 0;
  display: flex;
}
.contato .localizacao .contain img {
  height: 40px;
  width: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 20px;
}
.contato .localizacao .contain .text .nome {
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 23px;
  color: #3b3b3b;
  font-weight: 500;
  font-family: "Montserrat";
  transition: all 0.3s;
}
.contato .localizacao .contain .text .localidade {
  font-size: 18px;
  line-height: 20px;
  color: #474d54;
  font-weight: 400;
  transition: all 0.3s;
  font-family: "Montserrat";
}
.contato .localizacao .contain .text:hover .nome {
  color: #000000;
}
.contato .localizacao .contain .text:hover .localidade {
  color: #000000;
}
.contato .localizacao iframe {
  width: 100% !important;
  height: 450px !important;
}
.contato .al-container .title {
  font-size: 45px;
  line-height: 32px;
  color: #393738;
  font-weight: 600;
  font-family: "Montserrat";
}
.contato .al-container .title .underline {
  margin: 10px 0;
  width: 155px;
  height: 7px;
  background-image: linear-gradient(90deg, #e9d14f 0%, #b99347 100%);
}
.contato .al-container .separador {
  display: flex;
  flex-wrap: wrap;
}
.contato .al-container .separador .left, .contato .al-container .separador .right {
  width: 50%;
}
.contato .al-container .separador .right .wpcf7-form .load input {
  width: 255px;
  height: 43px;
  border-radius: 5px;
  background-image: linear-gradient(90deg, #e9d14f 0%, #b99347 100%);
  border: 1px solid #e9d14f;
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
  transition: all 0.3s;
}
.contato .al-container .separador .right .wpcf7-form .load input:hover {
  color: #e9d14f;
  background-image: unset;
  background-color: #FFF;
}
.contato .al-container .separador .right .wpcf7-form p select {
  width: 100%;
  max-width: 100%;
  padding: 5px 20px;
  margin-bottom: 15px;
  border: 1px #000 solid;
  background-color: #FFF;
  color: #FFF;
  font-size: 14px;
  letter-spacing: 0px;
  color: #3b3b3b;
  font-weight: 500;
  font-family: "Montserrat";
  transition: all 0.3s;
}
.contato .al-container .separador .right .wpcf7-form p label span, .contato .al-container .separador .right .wpcf7-form p label br {
  display: none;
}
.contato .al-container .separador .right .wpcf7-form p label span:last-child {
  display: block;
}
.contato .al-container .separador .right .wpcf7-form p label span:last-child input, .contato .al-container .separador .right .wpcf7-form p label span:last-child select, .contato .al-container .separador .right .wpcf7-form p label span:last-child textarea {
  max-width: 100%;
  width: 100%;
  padding: 5px 20px;
  margin: 5px 0;
  border: 1px #000 solid;
  background-color: #FFF;
  color: #FFF;
  font-size: 14px;
  letter-spacing: 0px;
  color: #3b3b3b;
  font-weight: 500;
  font-family: "Montserrat";
  transition: all 0.3s;
}
.contato .al-container .separador .left .text {
  font-size: 18px;
  line-height: 24px;
  color: #474d54;
  font-weight: 400;
  font-family: "Montserrat";
}
.contato .al-container .separador .left .text p {
  padding: 20px 0;
}
.contato .al-container .separador .left .mail {
  padding: 20px 0;
  display: flex;
  align-items: center;
}
.contato .al-container .separador .left .mail img {
  margin-right: 10px;
  height: 32px;
  width: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}
.contato .al-container .separador .left .mail a {
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 23px;
  color: #3b3b3b;
  font-weight: 500;
  font-family: "Montserrat";
  transition: all 0.3s;
}
.contato .al-container .separador .left .mail a:hover {
  color: #000;
}
.contato .al-container .separador .left .headset {
  display: flex;
  align-items: center;
}
.contato .al-container .separador .left .headset img {
  margin-right: 10px;
  height: 32px;
  width: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}
.contato .al-container .separador .left .headset span {
  margin: 0 5px;
}
.contato .al-container .separador .left .headset a {
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 23px;
  color: #3b3b3b;
  font-weight: 500;
  font-family: "Montserrat";
  transition: all 0.3s;
}
.contato .al-container .separador .left .headset a:hover {
  color: #000;
}
.contato .al-container .separador .left .redes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}
.contato .al-container .separador .left .redes a {
  transition: all 0.3s;
}
.contato .al-container .separador .left .redes a img {
  transition: all 0.3s;
  height: 40px;
  width: 40px;
}
.contato .al-container .separador .left .redes a:hover img {
  transform: rotateY(360deg);
}

.min-banner-contato {
  width: 100%;
  height: 240px;
}
.min-banner-contato img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 1230px) {
  .min-banner-contato {
    display: none;
  }

  .contato {
    padding-top: 40px;
  }
  .contato .al-container .separador .left, .contato .al-container .separador .right {
    width: 100%;
  }
  .contato .al-container .separador .left .mail a, .contato .al-container .separador .left .headset a, .contato .al-container .separador .right .mail a, .contato .al-container .separador .right .headset a {
    font-size: 16px;
  }
  .contato .al-container .separador .left .redes, .contato .al-container .separador .right .redes {
    width: 100%;
  }
}
.blogs .al-container {
  padding: 100px 0;
}
.blogs .al-container .title {
  font-size: 45px;
  line-height: 32px;
  color: #393738;
  font-weight: 600;
  font-family: "Montserrat";
}
.blogs .al-container .title .underline {
  margin: 10px 0;
  width: 155px;
  height: 7px;
  background-image: linear-gradient(90deg, #e9d14f 0%, #b99347 100%);
}
.blogs .al-container .lista-categorias {
  padding: 20px 0;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  flex-wrap: wrap;
}
.blogs .al-container .lista-categorias li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.blogs .al-container .lista-categorias li a {
  font-size: 18px;
  line-height: 25px;
  color: #292929;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: left;
  transition: all 0.3s;
}
.blogs .al-container .lista-categorias li a .underline {
  height: 10px;
  width: 0px;
  background-image: linear-gradient(90deg, #ebd765 0%, #d9a51f 100%);
  transition: all 0.3s;
  margin: auto;
}
.blogs .al-container .lista-categorias li a:hover .underline {
  width: 100%;
}
.blogs .al-container .lista {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.blogs .al-container .lista li {
  margin: 40px;
  width: 330px;
}
.blogs .al-container .lista li .imagem {
  width: 100%;
  height: 260px;
}
.blogs .al-container .lista li .imagem img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blogs .al-container .lista li .subtitle {
  min-height: 100px;
  padding: 10px 0;
  font-size: 25px;
  line-height: 28px;
  color: #c3a049;
  font-weight: 600;
  font-family: "Montserrat";
}
.blogs .al-container .lista li .data {
  padding: 10px 0;
  font-size: 14px;
  line-height: 14px;
  color: #727272;
  font-weight: 400;
  font-family: "Montserrat";
}
.blogs .al-container .lista li .hr {
  margin: 20px 0;
  width: 100%;
  height: 1px;
  background-color: #a4a4a4;
}
.blogs .al-container .lista li .text {
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  font-weight: 500;
  font-family: "Montserrat";
}
.blogs .al-container .lista li .text p + p, .blogs .al-container .lista li .text div + div {
  display: none;
}
.blogs .al-container .lista li .text p, .blogs .al-container .lista li .text div {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.blogs .al-container .lista li a {
  margin-top: 10px;
  width: 128px;
  height: 35px;
  border-radius: 18px;
  background-image: linear-gradient(90deg, #e9d14f 0%, #b99347 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}
.blogs .al-container .lista li a:hover {
  border: #e9d14f 1px solid;
  color: #b99347;
  background-image: none;
  background-color: #FFF;
}

.load_more a {
  margin: auto;
  width: 180px;
  height: 35px;
  border-radius: 18px;
  background-image: linear-gradient(90deg, #e9d14f 0%, #b99347 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}
.load_more a:hover {
  border: #e9d14f 1px solid;
  color: #b99347;
  background-image: none;
  background-color: #FFF;
}

@media screen and (max-width: 1230px) {
  .blogs .al-container .lista-categorias li {
    width: 100%;
  }
}
.min-banner-single {
  width: 100%;
  height: 260px;
}
.min-banner-single img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.single .al-container .title {
  font-size: 45px;
  line-height: 50px;
  color: #393738;
  font-weight: 600;
  font-family: "Montserrat";
}
.single .al-container .date {
  margin: 10px 0;
  font-size: 24px;
  line-height: 24px;
  color: #727272;
  font-weight: 400;
  font-family: "Montserrat";
}
.single .al-container .imagem {
  width: 100%;
  max-height: 600px;
  display: flex;
  justify-content: center;
  margin: 40px 0;
  overflow: hidden;
}
.single .al-container .imagem img {
  width: 70%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.single .al-container .texto p {
  padding: 20px 0;
  font-size: 18px;
  line-height: 25px;
  color: #292929;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: left;
}
.single .al-container .texto p img {
  width: 300px;
  margin-left: 465px;
}
.single .al-container .texto p span {
  display: flex;
}
.single .al-container .texto p span img {
  width: unset;
  margin-left: unset;
}
.single .al-container .share .title, .single .al-container .comentarios .title {
  font-size: 45px;
  line-height: 32px;
  color: #393738;
  font-weight: 600;
  font-family: "Montserrat";
}
.single .al-container .share .title .underline, .single .al-container .comentarios .title .underline {
  margin: 10px 0;
  width: 155px;
  height: 7px;
  background-image: linear-gradient(90deg, #e9d14f 0%, #b99347 100%);
}
.single .al-container .share .shortcode, .single .al-container .comentarios .shortcode {
  padding: 20px 0;
}
.single .al-container .comentarios {
  margin: 40px 0;
}

@media screen and (max-width: 1230px) {
  .min-banner-single {
    display: none;
  }
}
.min-banner-servicos {
  width: 100%;
  height: 260px;
}
.min-banner-servicos img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.servicos .al-container .title {
  font-size: 45px;
  line-height: 32px;
  color: #393738;
  font-weight: 600;
  font-family: "Montserrat";
}
.servicos .al-container .title .underline {
  margin: 10px 0;
  width: 155px;
  height: 7px;
  background-image: linear-gradient(90deg, #e9d14f 0%, #b99347 100%);
}
.servicos .al-container .lista {
  padding: 20px 0;
}
.servicos .al-container .lista .pre-listagem {
  padding: 20px 0;
  font-size: 18px;
  line-height: 25px;
  color: #292929;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: left;
}
.servicos .al-container .lista .listagem-ul .item {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  border-radius: 20px 0 0 20px;
  margin: 40px 0;
}
.servicos .al-container .lista .listagem-ul .item .title {
  font-size: 38px;
  line-height: 38px;
  color: #FFF;
  font-weight: 600;
  font-family: "Montserrat";
  text-transform: capitalize;
  text-align: center;
  width: 375px;
  padding: 40px;
  height: 240px;
  background-color: #EDAD31;
  border-radius: 20px 0 0 20px;
}
.servicos .al-container .lista .listagem-ul .item .content {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 22px;
  line-height: 22px;
  color: #000;
  font-weight: 400;
  font-family: "Montserrat";
  text-transform: none;
  text-align: center;
  border-radius: 0 20px 20px 0;
  width: 60%;
  padding: 40px;
  height: 100%;
  height: 240px;
  border: 1px #EDAD31 solid;
}
.servicos .al-container .quadros {
  padding: 20px 0;
}
.servicos .al-container .quadros .pre-quadros {
  padding: 20px 0;
  font-size: 18px;
  line-height: 25px;
  color: #292929;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: left;
}
.servicos .al-container .quadros .quadros-ul {
  -moz-column-count: 4;
       column-count: 4;
}
.servicos .al-container .quadros .quadros-ul li {
  width: 297.5px;
  padding-top: 10px;
}
.servicos .al-container .quadros .quadros-ul li img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.servicos .al-container .quadros.implante .quadros-ul {
  -moz-column-count: 5;
       column-count: 5;
}
.servicos .al-container .quadros.implante .quadros-ul li {
  width: 236px;
}
.servicos .al-container .cards {
  padding: 20px 0;
}
.servicos .al-container .cards .pre-cards {
  padding: 20px 0;
  font-size: 18px;
  line-height: 25px;
  color: #292929;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: left;
}
.servicos .al-container .cards .cards-ul {
  display: flex;
  flex-wrap: wrap;
}
.servicos .al-container .cards .cards-ul .card {
  width: 48%;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.servicos .al-container .cards .cards-ul .card .titulo {
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  font-size: 18px;
  line-height: 25px;
  color: #292929;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.servicos .al-container .cards .cards-ul .card .titulo.amarelo {
  background-color: #f2c56e;
}
.servicos .al-container .cards .cards-ul .card .titulo.laranja {
  background-color: #eeb545;
}
.servicos .al-container .cards .cards-ul .card .texto {
  width: 70%;
  padding: 20px 0;
  font-size: 18px;
  line-height: 25px;
  color: #504e4e;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.servicos .al-container .separador .line {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
.servicos .al-container .separador .line .left, .servicos .al-container .separador .line .right {
  width: 48%;
  font-size: 18px;
  line-height: 25px;
  color: #292929;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: left;
}
.servicos .al-container .separador .line .left .lSSlideOuter, .servicos .al-container .separador .line .left .lSSlideWrapper, .servicos .al-container .separador .line .right .lSSlideOuter, .servicos .al-container .separador .line .right .lSSlideWrapper {
  height: 100% !important;
}
.servicos .al-container .separador .line .left wpcf7-form .slider-de-schrodinger, .servicos .al-container .separador .line .right wpcf7-form .slider-de-schrodinger {
  height: 100% !important;
}
.servicos .al-container .separador .line .left wpcf7-form .slider-de-schrodinger li, .servicos .al-container .separador .line .right wpcf7-form .slider-de-schrodinger li {
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.servicos .al-container .separador .line .left wpcf7-form .slider-de-schrodinger li.detalhe:before, .servicos .al-container .separador .line .right wpcf7-form .slider-de-schrodinger li.detalhe:before {
  content: "";
  display: block;
  height: 10px;
  width: 140px;
  background-color: #e9d14f;
  position: absolute;
  top: 10px;
  left: 70px;
}
.servicos .al-container .separador .line .left wpcf7-form .slider-de-schrodinger li.detalhe:after, .servicos .al-container .separador .line .right wpcf7-form .slider-de-schrodinger li.detalhe:after {
  content: "";
  display: block;
  height: 10px;
  width: 140px;
  background-color: #e9d14f;
  position: absolute;
  top: auto;
  bottom: 10px;
  right: 70px;
}
.servicos .al-container .separador .line .left wpcf7-form .slider-de-schrodinger li img, .servicos .al-container .separador .line .right wpcf7-form .slider-de-schrodinger li img {
  height: 100%;
}
.servicos .al-container .contact {
  width: 70%;
  margin: auto;
}
.servicos .al-container .contact .wpcf7-form p {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
.servicos .al-container .contact .wpcf7-form p br {
  display: none;
}
.servicos .al-container .contact .wpcf7-form p label, .servicos .al-container .contact .wpcf7-form p .assunto {
  width: 48%;
}
.servicos .al-container .contact .wpcf7-form p #textarea {
  width: 100%;
}
.servicos .al-container .contact .wpcf7-form .load input {
  width: 255px;
  height: 43px;
  border-radius: 5px;
  background-image: linear-gradient(90deg, #e9d14f 0%, #b99347 100%);
  border: 1px solid #e9d14f;
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
  transition: all 0.3s;
}
.servicos .al-container .contact .wpcf7-form .load input:hover {
  color: #e9d14f;
  background-image: unset;
  background-color: #FFF;
}
.servicos .al-container .contact .wpcf7-form p select {
  width: 100%;
  max-width: 100%;
  padding: 5px 20px;
  margin-bottom: 15px;
  border: 1px #000 solid;
  background-color: #FFF;
  color: #FFF;
  font-size: 14px;
  letter-spacing: 0px;
  color: #3b3b3b;
  font-weight: 500;
  font-family: "Montserrat";
  transition: all 0.3s;
}
.servicos .al-container .contact .wpcf7-form p label span, .servicos .al-container .contact .wpcf7-form p label br {
  display: none;
}
.servicos .al-container .contact .wpcf7-form p label span:last-child {
  display: block;
}
.servicos .al-container .contact .wpcf7-form p label span:last-child input, .servicos .al-container .contact .wpcf7-form p label span:last-child select, .servicos .al-container .contact .wpcf7-form p label span:last-child textarea {
  max-width: 100%;
  width: 100%;
  padding: 5px 20px;
  margin: 5px 0;
  border: 1px #000 solid;
  background-color: #FFF;
  color: #FFF;
  font-size: 14px;
  letter-spacing: 0px;
  color: #3b3b3b;
  font-weight: 500;
  font-family: "Montserrat";
  transition: all 0.3s;
}

@media screen and (max-width: 800px) {
  .servicos {
    padding-top: 40px;
  }
  .servicos .al-container .quadros .quadros-ul {
    -moz-column-count: 1 !important;
         column-count: 1 !important;
  }
  .servicos .al-container .quadros .quadros-ul .quadro {
    margin: auto !important;
  }
}
@media screen and (max-width: 1230px) {
  .min-banner-servicos {
    display: none;
  }

  .servicos {
    padding-top: 40px;
  }
  .servicos .al-container .contact {
    width: 100%;
  }
  .servicos .al-container .contact .wpcf7-form p label, .servicos .al-container .contact .wpcf7-form p .assunto {
    width: 100%;
  }
  .servicos .al-container .lista {
    padding: 20px 0;
  }
  .servicos .al-container .lista .pre-listagem {
    padding: 20px 0;
    font-size: 18px;
    line-height: 25px;
    color: #292929;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: left;
  }
  .servicos .al-container .lista .listagem-ul .item {
    justify-content: center;
  }
  .servicos .al-container .lista .listagem-ul .item .title {
    width: 90%;
    height: auto;
    max-height: auto;
    border-radius: 20px 20px 0 0;
  }
  .servicos .al-container .lista .listagem-ul .item .content {
    height: auto;
    max-height: auto;
    width: 90%;
    border-radius: 0 0 20px 20px;
  }
  .servicos .al-container .quadros .quadros-ul {
    -moz-column-count: 2;
         column-count: 2;
  }
  .servicos .al-container .quadros .quadros-ul .quadro {
    margin: auto;
  }
  .servicos .al-container .separador .line {
    flex-wrap: wrap;
  }
  .servicos .al-container .separador .line .order-1 {
    order: 1;
  }
  .servicos .al-container .separador .line .order-2 {
    order: 2;
  }
  .servicos .al-container .separador .line .right, .servicos .al-container .separador .line .left {
    width: 100%;
  }
}
.popup {
  width: 60%;
  padding: 20px;
  box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 0.3);
  z-index: 10000000000000002000;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFF;
  position: fixed;
  display: none;
}
.popup .close {
  position: absolute;
  left: auto;
  right: -16px;
  top: -16px;
  border-radius: 16px;
  background-color: #FFF;
  height: 32px;
  width: 32px;
  cursor: pointer;
}
.popup .close img {
  cursor: pointer;
  height: 32px;
  width: 32px;
}
.popup .perfil {
  padding: 20px 0;
  width: 96%;
  margin: auto;
}
.popup .perfil .foto {
  border-radius: 120px;
  border: #EDAD31 solid 2px;
  width: 80px;
  height: 80px;
  overflow: hidden;
}
.popup .perfil .foto img {
  border-radius: 116px;
  width: 76px;
  height: 76px;
  -o-object-fit: cover;
     object-fit: cover;
}
.popup .perfil .identidade {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.popup .perfil .identidade .nome {
  font-size: 17px;
  line-height: 18px;
  color: #c09d49;
  font-weight: 600;
  font-family: "Montserrat";
}
.popup .perfil .identidade .cidade {
  font-size: 16px;
  line-height: 20px;
  color: #686868;
  font-weight: 400;
  font-family: "Montserrat";
}
.popup .contain {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.popup .contain .left, .popup .contain .right {
  width: 48%;
}
.popup .contain .left .texto, .popup .contain .right .texto {
  font-size: 16px;
  line-height: 24px;
  color: #686868;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: left;
}
.popup .contain .left .texto a, .popup .contain .right .texto a {
  display: none;
}
.popup .contain .left img, .popup .contain .right img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}