.blogs{
    .al-container{
        padding: 100px 0;
        .title{
            font-size: 45px;
            line-height: 32px;
            color: #393738;
            font-weight: 600;
            font-family: "Montserrat";
            .underline{
                margin: 10px 0;
                width: 155px;
                height: 7px;
                background-image: linear-gradient(90deg, #e9d14f 0%, #b99347 100%);
            }
        }
        .lista-categorias{
            padding: 20px 0;
            display: flex;
            column-gap: 20px;
            flex-wrap: wrap;
            li{
                width: fit-content;
                a{
                    font-size: 18px;
                    line-height: 25px;
                    color: #292929;
                    font-weight: 400;
                    font-family: "Montserrat";
                    text-align: left;
                    transition: all .3s;
                    .underline{
                        height: 10px;
                        width: 0px;
                        background-image: linear-gradient(90deg, #ebd765 0%, #d9a51f 100%);
                        transition: all .3s;
                        margin: auto;
                    }
                    &:hover{
                        .underline{
                            width: 100%;
                        }
                    }
                }
            }
        }
        .lista{
            display: flex;
            justify-content: start;
            flex-wrap: wrap;
            li{
                margin: 40px;
                width: calc(($container - 240px) / 3);
                .imagem{
                    width: 100%;
                    height: 260px;
                    img{    
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .subtitle{
                    min-height: 100px;
                    padding: 10px 0;
                    font-size: 25px;
                    line-height: 28px;
                    color: #c3a049;
                    font-weight: 600;
                    font-family: "Montserrat";
                }
                .data{
                    padding: 10px 0;
                    font-size: 14px;
                    line-height: 14px;
                    color: #727272;
                    font-weight: 400;
                    font-family: "Montserrat";
                }
                .hr{
                    margin: 20px 0;
                    width: 100%;
                    height: 1px;
                    background-color: #a4a4a4;
                }
                .text{
                    font-size: 16px;
                    line-height: 24px;
                    color: #666666;
                    font-weight: 500;
                    font-family: "Montserrat";
                    p+p, div+div{
                        display: none;
                    }
                    p, div{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical; 
                    }
                }
                a{
                    margin-top: 10px;
                    width: 128px;
                    height: 35px;
                    border-radius: 18px;
                    background-image: linear-gradient(90deg, #e9d14f 0%, #b99347 100%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                    line-height: 24px;
                    color: #ffffff;
                    font-weight: 400;
                    font-family: "Montserrat";
                    text-align: center;
                    &:hover{
                        border: #e9d14f 1px solid;
                        color: #b99347;
                        background-image: none;
                        background-color: #FFF;
                    }
                }
            }
        }
    }
}
.load_more a{
    margin: auto;
    width: 180px;
    height: 35px;
    border-radius: 18px;
    background-image: linear-gradient(90deg, #e9d14f 0%, #b99347 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    &:hover{
        border: #e9d14f 1px solid;
        color: #b99347;
        background-image: none;
        background-color: #FFF;
    }
}
@media screen and(max-width: $container){
    .blogs{
        .al-container{
            .lista-categorias{
                li{
                    width: 100%;
                }
            }
        }
    }
}