.min-banner-single{
    width: 100%;
    height: 260px;
    img{
        width: 100%;
        object-fit: contain;
    }
}
.single{
    .al-container{
        .title{
            font-size: 45px;
            line-height: 50px;
            color: #393738;
            font-weight: 600;
            font-family: "Montserrat";
        }
        .date{
            margin: 10px 0;
            font-size: 24px;
            line-height: 24px;
            color: #727272;
            font-weight: 400;
            font-family: "Montserrat";
        }
        .imagem{
            width: 100%;
            max-height: 600px;
            display: flex;
            justify-content: center;
            margin: 40px 0;
            overflow: hidden;
            img{
                width: 70%;
                height: 100%;
                object-fit: contain;
            }
        }
        .texto{
            p{
                padding: 20px 0;
                font-size: 18px;
                line-height: 25px;
                color: #292929;
                font-weight: 400;
                font-family: "Montserrat";
                text-align: left;
                img{
                    width: 300px;
                    margin-left: calc(($container - 300px)/2);
                }
                span{
                    display: flex;
                    img{
                        width: unset;
                        margin-left: unset;
                    }
                }
            }
        }
        .share, .comentarios{
            .title{
                font-size: 45px;
                line-height: 32px;
                color: #393738;
                font-weight: 600;
                font-family: "Montserrat";
                .underline{
                    margin: 10px 0;
                    width: 155px;
                    height: 7px;
                    background-image: linear-gradient(90deg, #e9d14f 0%, #b99347 100%);
                }
            }
            .shortcode{
                padding: 20px 0;
            }
        }
        .comentarios{
            margin: 40px 0;
        }
    }
}
@media screen and(max-width: $container) {
    .min-banner-single{
        display: none;
    }
}