.contato{
    .localizacao{
        padding: 40px 0;
        .contain{
            padding: 40px 0;
            display: flex;
            img{
                height: 40px;
                width: 40px;
                object-fit: contain;
                margin-right: 20px;
            }
            .text{
                .nome{
                    font-size: 20px;
                    letter-spacing: 0px;
                    line-height: 23px;
                    color: #3b3b3b;
                    font-weight: 500;
                    font-family: "Montserrat";
                    transition: all .3s;
                }
                .localidade{
                    font-size: 18px;
                    line-height: 20px;
                    color: #474d54;
                    font-weight: 400;
                    transition: all .3s;
                    font-family: "Montserrat";
                }
                &:hover{
                    .nome{
                        color: #000000;
                    }
                    .localidade{
                        color: #000000;
                    }

                }
            }
        }
        iframe{
            width: 100%!important;
            height: 450px!important;
        }
    }
    .al-container{
        .title{
            font-size: 45px;
            line-height: 32px;
            color: #393738;
            font-weight: 600;
            font-family: "Montserrat";
            .underline{
                margin: 10px 0;
                width: 155px;
                height: 7px;
                background-image: linear-gradient(90deg, #e9d14f 0%, #b99347 100%);
            }
        }
        .separador{
            display: flex;
            flex-wrap: wrap;
            .left, .right{
                width: 50%;
            }
            .right{
                .wpcf7-form{
                    .load{
                        input{
                            width: 255px;
                            height: 43px;
                            border-radius: 5px;
                            background-image: linear-gradient(90deg, #e9d14f 0%, #b99347 100%);
                            border: 1px solid #e9d14f;
                            font-size: 20px;
                            color: #ffffff;
                            font-weight: 500;
                            font-family: "Montserrat";
                            text-align: center;
                            transition: all .3s;
                            &:hover{
                                color: #e9d14f;
                                background-image: unset;
                                background-color: #FFF;
                            }
                        }
                    }
                    p{
                        select{
                            width: 100%;
                            max-width: 100%;
                            padding: 5px 20px;
                            margin-bottom: 15px;
                            border: 1px #000 solid;
                            background-color: #FFF;
                            color: #FFF;
                            font-size: 14px;
                            letter-spacing: 0px;
                            color: #3b3b3b;
                            font-weight: 500;
                            font-family: "Montserrat";
                            transition: all .3s;
                        }
                        label{
                            span, br{
                                display: none;
                            }
                            span:last-child{
                                display: block;
                                input, select, textarea{
                                    max-width: 100%;
                                    width: 100%;
                                    padding: 5px 20px;
                                    margin: 5px 0;
                                    border: 1px #000 solid;
                                    background-color: #FFF;
                                    color: #FFF;
                                    font-size: 14px;
                                    letter-spacing: 0px;
                                    color: #3b3b3b;
                                    font-weight: 500;
                                    font-family: "Montserrat";
                                    transition: all .3s;
                                }
                            }
                        }
                    }
                }
            }
            .left{
                .text{
                    font-size: 18px;
                    line-height: 24px;
                    color: #474d54;
                    font-weight: 400;
                    font-family: "Montserrat";
                    p{
                        padding: 20px 0;
                    }
                }
                .mail{
                    padding: 20px 0;
                    display: flex;
                    align-items: center;
                    img{
                        margin-right: 10px;
                        height: 32px;
                        width: 32px;
                        object-fit: contain;
                    }
                    a{
                        font-size: 24px;
                        letter-spacing: 0px;
                        line-height: 23px;
                        color: #3b3b3b;
                        font-weight: 500;
                        font-family: "Montserrat";
                        transition: all .3s;
                        &:hover{
                            color: #000;
                        }
                    }
                }
                .headset{
                    display: flex;
                    align-items: center;
                    img{
                        margin-right: 10px;
                        height: 32px;
                        width: 32px;
                        object-fit: contain;
                    }
                    span{
                        margin: 0 5px;
                    }
                    a{
                        font-size: 24px;
                        letter-spacing: 0px;
                        line-height: 23px;
                        color: #3b3b3b;
                        font-weight: 500;
                        font-family: "Montserrat";
                        transition: all .3s;
                        &:hover{
                            color: #000;
                        }
                    }
                }
                .redes{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 70%;
                    a{
                        transition: all .3s;
                        img{
                            transition: all .3s;
                            height: 40px;
                            width: 40px;
                        }
                    }
                    a:hover{
                        img{
                            transform: rotateY(360deg);
                        }
                    }
                }
            }
        }
    }
}
.min-banner-contato{
    width: 100%;
    height: 240px;
    img{
        width: 100%;
        object-fit: contain;
    }
}
@media screen and(max-width: $container) {
    .min-banner-contato{
        display: none;
    }
    .contato{
        padding-top: 40px;
        .al-container{
            .separador{
                .left, .right{
                    width: 100%;
                    .mail, .headset{
                        a{
                            font-size: 16px;
                        }
                    }
                    .redes{
                        width: 100%;
                    }
                }
            }
        }
    }
}