/* Footer
========================================================================== */
.main-footer{
    .sup-footer{
        .al-container{
            .ul-footer{
                min-height: 200px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                li{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .pessoa{
                    max-width: 135px;
                    height: fit-content;
                    flex-wrap: wrap;
                    margin-top: 5%;
                    .nome{
                        font-size: 18px;
                        line-height: 20px;
                        color: #393838;
                        font-weight: 500;
                        font-family: "Montserrat";
                        text-align: center;
                        .cro{
                            font-size: 12px;
                            line-height: 20px;
                            color: #717171;
                            font-weight: 500;
                            font-family: "Montserrat";
                            text-align: center;
                        }
                    }
                    .redes{
                        a{
                            transition: all .3s;
                            img{
                                transition: all .3s;
                                height: 30px;
                                width: 30px;
                            }
                        }
                        a:hover{
                            img{
                                transform: rotateY(360deg);
                            }
                        }
                    }
                }
                .agenda{
                    a{
                        img{    
                            margin-right: 10px;
                        }
                        padding: 0 10px;
                        height: 33px;
                        border-radius: 5px;
                        background-image: linear-gradient(90deg, #ebd765 0%, #d9a51f 100%);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 18px;
                        color: #ffffff;
                        font-weight: 500;
                        font-family: "Montserrat";
                        text-align: center;
                    }
                }
            }
        }
    }
    .sub-footer{
        height: 31px;
        background-color: #3a3838;
        font-size: 14px;
        line-height: 32px;
        color: #CCC;
        font-weight: 500;
        font-family: "Montserrat";
        text-align: right;
        a{
            font-size: 14px;
            line-height: 32px;
            color: #CCC;
            font-weight: 500;
            font-family: "Montserrat";
            text-align: right;
            &:hover{
                color: #FFF;
            }
        }
        .al-container{
            position: unset;
            background-color: unset;
        }
    }
}
@media screen and(max-width: $container) {
    .main-footer{
        .sup-footer{
            .al-container{
                .ul-footer{
                    li{
                        width: 100%!important;
                        padding: 20px 0!important;
                    }
                }
            }
        }
    }
}