/* Header
========================================================================== */
.main-menu{ 
    position: relative;
    z-index: 99999999999;
    .sup-menu{
        width: 100%;
        height: 35px;
        background-color: #000;
        .al-container{
            background-color: unset!important;
            position: relative;
            z-index: unset!important;
            .contato{
                display: flex;
                flex-wrap: wrap;
                justify-content: right;
                align-items: center;
                height: 100%;
                column-gap: 10px;
                li{
                    height: 35px;
                    transition: all .3s;
                    a{
                        transition: all .3s;
                        img{
                            transition: all .3s;
                        }
                    }
                }
                .text{
                    a{
                        font-size: 18px;
                        line-height: 32px;
                        color: #ffffff;
                        font-weight: 300;
                        font-family: "Montserrat";
                        text-align: right;
                        &:hover{
                            font-weight: 500;
                        }
                    }
                    font-size: 18px;
                    line-height: 32px;
                    color: #ffffff;
                    font-weight: 300;
                    font-family: "Montserrat";
                    text-align: right;
                    
                }
                .icon{
                    display: flex;
                    align-items: center;
                    &:hover{
                        a{
                            img{
                                transform: rotateY(360deg);
                            }
                        }
                    }
                }
            }
        }
    }
    .sup-menu-main{
        box-shadow: 0px 0px 19px 0 rgb(0 0 0 / 25%);
        width: 100%;
        background-color: #FFF;
        padding: 20px 0;
        .al-container{
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 30px;
            .logo{
                img{
                    width: 175px;
                    height: 115px;
                }
            }
            .menu-lista{
                #menu-principal{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    column-gap: 30px;
                    li{
                        &.menu-item-has-children{
                            transition: all .3s;
                            .sub-menu{
                                transition: all .3s;
                                display: none;
                                position: absolute;
                                max-width: max-content;
                                padding: 0;
                                padding-top: 20px;
                                box-shadow: 0px 0px 19px 0 rgb(0 0 0 / 25%);
                                background-color: #FFF;
                                width: max-content;
                                li{
                                    width: 100%;
                                    background-color: #FFF;
                                    background-image: unset;
                                    padding: 0 20px!important;
                                    height: auto;
                                    border-bottom: 1px rgb(0 0 0 / 25%) solid;
                                    display: flex;
                                    justify-content: start;
                                    &:hover{
                                        a{
                                            color: #cdb055!important;
                                        }
                                    }
                                    &:last-child{
                                        border-bottom: none;
                                    }
                                    &:before{
                                        display: none;
                                    }
                                    a{
                                        font-size: 18px;
                                        line-height: 32px;
                                        color: #000000;
                                        font-weight: 500;
                                        font-family: "Montserrat";
                                        text-align: left;
                                    }
                                }
                            }
                            &:hover{ 
                                .sub-menu{
                                    display: block;
                                }
                            }
                        }
                        &:last-child{
                            &:before{
                                content: "";
                                display:block;
                                background-image: url("./assets/images/calendar-icon.png");
                                background-repeat: no-repeat;
                                background-size: contain;
                                width: 20px;
                                height: 20px;
                                margin-right: 5px;
                                top: 0%;
                            }
                            padding: 0 10px;
                            height: 33px;
                            border-radius: 5px;
                            background-image: linear-gradient(90deg, #ebd765 0%, #d9a51f 100%);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 18px;
                            color: #ffffff;
                            font-weight: 500;
                            font-family: "Montserrat";
                            text-align: center;
                            a{
                                font-size: 18px;
                                color: #ffffff;
                                font-weight: 500;
                                font-family: "Montserrat";
                                text-align: center;
                            }
                            &:hover{
                                a{
                                    color: #ffffff!important;
                                }
                            }
                        }
                        a{
                            font-size: 18px;
                            line-height: 32px;
                            color: #000000;
                            font-weight: 500;
                            font-family: "Montserrat";
                            text-align: right;
                        }
                        &.current_page_item, 
                        &.current-menu-item,
                        &.current-menu{
                            a{
                                font-size: 18px;
                                line-height: 32px;
                                color: #cdb055;
                                font-weight: 600;
                                font-family: "Montserrat";
                                text-align: right;
                            }
                        }
                        &:hover{
                            a{
                                color: #cdb055;
                            }
                        }
                    }
                }
            }
        }
    }
}
.al-container{
    background-color: #FFF;
    position: relative;
    z-index: 999;
}
@media screen and(max-width: $container) {
    .main-menu{ 
        display: none;
    }
    .page-template-default{
        padding-top: 50px!important;
    }
}