/* Home
========================================================================== */
.slider{
    width: 100%;
    max-height: 54vh;
    overflow: hidden;
    cursor: pointer;
}
.slider-mobile{
    display: none;
}
.tratamentos{
    padding: 40px 0;
    &:before{
        content: "";
        display:block;
        background-image: url("./assets/images/detalhe-lateral.webp");
        background-repeat: no-repeat;
        background-size: contain;
        width: 350px;
        height: 218px;
        position: absolute;
        top: auto;
        bottom:0;
    }
    &:after{
        content: "";
        display:block;
        background-image: url("./assets/images/detalhe-lateral.webp");
        background-repeat: no-repeat;
        background-size: contain;
        width: 350px;
        height: 218px;
        position: absolute;
        right: 0;
        top: 130px;
    }
    .al-container{
        .title{
            font-size: 45px;
            line-height: 32px;
            color: #393738;
            font-weight: 600;
            font-family: "Montserrat";
            .underline{
                margin: 10px 0;
                width: 155px;
                height: 7px;
                background-image: linear-gradient(90deg, #e9d14f 0%, #b99347 100%);
            }
        }
        .lista-tratamentos{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 50px;
            .tratamento{
                margin-top: 20px;
                width: 300px;
                height: 375px;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                align-items: flex-end;
                border-radius: 8px;
                transition: all .3s;
                @media screen and(max-width: 700px) {
                    background-color: #e0c13a;
                }
                &:hover{
                    transform: rotate3d(1);
                    z-index: 9999;
                    background-color: #e0c13a;
                    .nome, .texto, .veja-mais{
                        color: #FFF;
                    }
                    &:before{
                        background-image: url("./assets/images/background-tratamento-hover.png");
                        @media screen and(max-width: 700px) {
                            background-image: url("./assets/images/background-tratamento.png");
                        }
                    }
                }
                &:before{
                    z-index: 1;
                    content: "";
                    display:block;
                    position: absolute;
                    background-image: url("./assets/images/background-tratamento.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 290px;
                    height: 375px;
                    @media screen and(max-width: 700px) {
                        background-image: url("./assets/images/background-tratamento-hover.png");
                    }
                }
                .img{
                    transition: all .3s;
                    z-index: 2;
                    box-shadow: -3.032px 10.574px 12px rgba(37,37,37,0.07);
                    background-color: #242424;
                    width: max-content;
                    border-radius: 20px;
                    padding: 10px;
                    img{
                        width: 85px;
                        height: 85px;
                        object-fit: contain;
                    }
                }
                .nome{
                    transition: all .3s;
                    z-index: 2;
                    font-size: 22px;
                    line-height: 32px;
                    color: #292a2d;
                    font-weight: 600;
                    font-family: "Montserrat";
                    text-align: center;
                    width: 100%;
                    @media screen and(max-width: 700px) {
                        color: #FFF;
                    }
                }
                .texto{
                    transition: all .3s;
                    z-index: 2;
                    font-size: 16px;
                    line-height: 24px;
                    color: #292a2d;
                    font-weight: 400;
                    font-family: "Montserrat";
                    text-align: center;
                    padding: 0 10px;
                    @media screen and(max-width: 700px) {
                        color: #FFF;
                    }
                }
                .veja-mais{
                    text-transform: uppercase;
                    transition: all .3s;
                    z-index: 2;
                    font-size: 16px;
                    line-height: 24px;
                    text-decoration: underline;
                    color: #d8ad33;
                    font-weight: 400;
                    font-family: "Montserrat";
                    text-align: center;
                    margin-bottom:10px;
                    @media screen and(max-width: 700px) {
                        color: #FFF;
                    }
                    &:hover{
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
.agendar{
    padding: 120px 0;
    display: flex;
    justify-content: right;
    align-items: flex-start;
    .left{    
        margin-left: auto;
        margin-right: 50px;
        width: 380px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        .btn{
            margin-top: 30px;
            font-size: 20px;
            line-height: 30px;
            color: #ffffff;
            font-weight: 400;
            font-family: "Montserrat";
            text-align: center;
            width: 332px;
            height: 44px;
            border-radius: 50px;
            background-color: #24DA4E;
            border: #24DA4E solid 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .3s;
            img{
                transition: all .3s;
                margin: 0 5px;
                width: 20px;
                height: 20px;
            }
            img+img{
                width: 0px;
            }
            &:hover{
                img{
                    width: 0px;
                }
                img+img{
                    width: 20px;
                }
                color: #24DA4E;
                background-color: #ffffff;
            }
        }
    }
    .right{
        width: 50%;
        img{
            min-height: 220px;
            width: 100%;
            max-height: 240px;
        }
    }
}
.agendar-inv{
    padding: 120px 0;
    display: flex;
    justify-content: right;
    align-items: flex-start;
    .left{
        width: 50%;
        img{
            min-height: 220px;
            width: 100%;
            max-height: 240px;
        }
    }
    .right{
        margin-right: auto;
        margin-left: 50px;
        width: 380px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .btn{
            margin-top: 30px;
            font-size: 20px;
            line-height: 30px;
            color: #ffffff;
            font-weight: 400;
            font-family: "Montserrat";
            text-align: center;
            width: 332px;
            height: 44px;
            border-radius: 50px;
            background-color: #24DA4E;
            border: #24DA4E solid 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                transition: all .3s;
                margin: 0 5px;
                width: 20px;
                height: 20px;
            }
            img+img{
                width: 0px;
            }
            &:hover{
                img{
                    width: 0px;
                }
                img+img{
                    width: 20px;
                }
                color: #24DA4E;
                background-color: #ffffff;
            }
        }
    }
}
.depoimentos{
    &:before{
        content: "";
        display:block;
        background-image: url("./assets/images/detalhe-curvado.webp");
        background-repeat: no-repeat;
        background-size: contain;
        width: 350px;
        height: 260px;
        position: absolute;
        top: 0%;
    }
    &:after{
        content: "";
        display:block;
        background-image: url("./assets/images/detalhe-lateral.webp");
        background-repeat: no-repeat;
        background-size: contain;
        width: 350px;
        height: 218px;
        position: absolute;
        right: 0;
        top: 25%;
    }
    .al-container{
        position: inherit;
        z-index: 99999;
        .title{
            font-size: 45px;
            line-height: 32px;
            color: #393738;
            font-weight: 600;
            font-family: "Montserrat";
            .underline{
                margin: 10px 0;
                width: 155px;
                height: 7px;
                background-image: linear-gradient(90deg, #e9d14f 0%, #b99347 100%);
            }
        }
        .lista-depoimentos{
            width: 40%;
            margin-left: 200px;
            #lista-depoimentos{
                li{
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    align-items: center;
                    .contain{
                        width: 400px;
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        align-items: center;
                        .foto{
                            border-radius: 120px;
                            border: #EDAD31 solid 2px;
                            width: 80px;
                            height: 80px;
                            overflow: hidden;
                            img{
                                border-radius: 116px;
                                width: 76px;
                                height: 76px;
                                object-fit: cover;
                            }
                        }
                        .texto{
                            padding: 20px 0;
                            font-size: 16px;
                            line-height: 24px;
                            color: #686868;
                            font-weight: 400;
                            font-family: "Montserrat";
                            text-align: center;
                            p+p, div+div{
                                display: none;
                            }
                            p, div{
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical; 
                            }
                            a{
                                cursor: pointer;
                                font-size: 16px;
                                line-height: 24px;
                                color: #c09d49;
                                font-weight: 400;
                                color: #3a3939;
                                font-family: "Montserrat";
                                text-align: center; 
                                transition: all .3s;
                                .under{
                                    height: 2px;
                                    transition: all .3s;
                                    width: 0px;
                                    background-color: #c09d49;
                                    margin: auto;
                                }
                                &:hover{
                                    color: #c09d49;
                                    .under{
                                        width: 69px;
                                    }
                                }
                            }
                        }
                        .identidade{
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: right;
                            .nome{
                                font-size: 17px;
                                line-height: 18px;
                                color: #c09d49;
                                font-weight: 600;
                                font-family: "Montserrat";
                            }
                            .cidade{
                                font-size: 16px;
                                line-height: 20px;
                                color: #686868;
                                font-weight: 400;
                                font-family: "Montserrat";
                            }
                        }
                    }
                }
            }
        }
    }
}
.lista-depoimentos-mobile{
    display: none;
    width: 100%;
    #lista-depoimentos-mobile{
        li{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            .contain{
                width: 500px;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                align-items: center;
                .foto{
                    border-radius: 120px;
                    border: #EDAD31 solid 2px;
                    width: 80px;
                    height: 80px;
                    overflow: hidden;
                    img{
                        border-radius: 116px;
                        width: 76px;
                        height: 76px;
                        object-fit: cover;
                    }
                }
                .texto{
                    padding: 20px 0;
                    font-size: 16px;
                    line-height: 24px;
                    color: #686868;
                    font-weight: 400;
                    font-family: "Montserrat";
                    text-align: center;
                    p+p, div+div{
                        display: none;
                    }
                    p, div{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical; 
                    }
                }
                .identidade{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: right;
                    .nome{
                        font-size: 17px;
                        line-height: 18px;
                        color: #c09d49;
                        font-weight: 600;
                        font-family: "Montserrat";
                    }
                    .cidade{
                        font-size: 16px;
                        line-height: 20px;
                        color: #686868;
                        font-weight: 400;
                        font-family: "Montserrat";
                    }
                }
            }
        }
    }
}
.visita{
    background-image: url("./assets/images/detalhe-lateral.webp");
    background-repeat: repeat-y;
    background-size: 280px;
    .al-container{
        .title{
            font-size: 45px;
            line-height: 32px;
            color: #393738;
            font-weight: 600;
            font-family: "Montserrat";
            .underline{
                margin: 10px 0;
                width: 155px;
                height: 7px;
                background-image: linear-gradient(90deg, #e9d14f 0%, #b99347 100%);
            }
        }
    }
    iframe{
        width: 100%!important;
        height: 500px !important;
        padding-bottom: 60px;
    }
}
.ultimasnoticias{
    padding: 100px 0;
    .al-container{
        .title{
            font-size: 45px;
            line-height: 32px;
            color: #393738;
            font-weight: 600;
            font-family: "Montserrat";
            .underline{
                margin: 10px 0;
                width: 155px;
                height: 7px;
                background-image: linear-gradient(90deg, #e9d14f 0%, #b99347 100%);
            }
        }
        .noticias{
            display: flex;
            justify-content: space-between;
            row-gap: 32px;
            flex-wrap: wrap;
            @media screen and(max-width: 700px){
                justify-content: center;
            }
        }
        .noticia{
            width: calc(($container - 240px) / 3);
            .imagem{
                width: 100%;
                height: 260px;
                img{    
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .subtitle{
                padding: 10px 0;
                font-size: 25px;
                line-height: 28px;
                color: #c3a049;
                font-weight: 600;
                font-family: "Montserrat";
            }
            .data{
                padding: 10px 0;
                font-size: 14px;
                line-height: 14px;
                color: #727272;
                font-weight: 400;
                font-family: "Montserrat";
            }
            .hr{
                margin: 20px 0;
                width: 100%;
                height: 1px;
                background-color: #a4a4a4;
            }
            .text{
                font-size: 16px;
                line-height: 24px;
                color: #666666;
                font-weight: 500;
                font-family: "Montserrat";
                p+p, div+div{
                    display: none;
                }
                p, div{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical; 
                }
            }
            a{
                margin-top: 10px;
                width: 128px;
                height: 35px;
                border-radius: 18px;
                background-image: linear-gradient(90deg, #e9d14f 0%, #b99347 100%);
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                line-height: 24px;
                color: #ffffff;
                font-weight: 400;
                font-family: "Montserrat";
                text-align: center;
                &:hover{
                    border: #e9d14f 1px solid;
                    color: #b99347;
                    background-image: none;
                    background-color: #FFF;
                }
            }
        }
    }
}
.lista-depoimentos{
    .lSNext{
        right: -15px!important;
    }
}
.lista-container, .equipe{
    .lSNext{
        right: -5px!important;
    }
    .lSNext, .lSPrev{
        height: 40px;
    }
}
.lSPager{
    .active{
        a{
            background-color: #e0c64d!important;
        }
    }
    li:hover{
        a{
            background-color: #e0c64d!important;
        }
    }
}
@media screen and(max-width: $container) {
    #wrapper{
        padding: 0 20px;
    }
    .slider{
        display: none;
    }
    .slider-mobile{
        width: 100vw;
        max-height: 500px;
        overflow: hidden;
        display: block;
        margin-left: -20px;
    }
    .tratamentos{
        &:before, &:after{
            display: none;
        }
    }
    .agendar{
        flex-wrap: wrap;
        .left{    
            margin-left: unset;
            margin-right: unset;
            width: 100%;
        }
        .right{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
    .agendar-inv{
        flex-wrap: wrap;
        .right{    
            margin-left: unset;
            margin-right: unset;
            width: 100%;
        }
        .left{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
    .visita{
        background-image: none;
    }
    .depoimentos{
        &:before, &:after{
            display: none;
        }
        .lista-depoimentos{
            display: none;
        }
        .lista-depoimentos-mobile{
            display: block;
        }
    }
}