.popup{    
    width: 60%;
    padding: 20px;
    box-shadow: 0 0 1000px 1000px rgb(0 0 0 / 30%);
    z-index: 9999999999999999999;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFF;
    position: fixed;
    display: none;
    .close{    
        position: absolute;
        left: auto;
        right: -16px;
        top: -16px;
        border-radius: 16px;
        background-color: #FFF;
        height: 32px;
        width: 32px;
        cursor: pointer;
        img{
            cursor: pointer;
            height: 32px;
            width: 32px;
        }
    }
    .perfil{
        padding: 20px 0;
        width: 96%;
        margin: auto;
        .foto{
            border-radius: 120px;
            border: #EDAD31 solid 2px;
            width: 80px;
            height: 80px;
            overflow: hidden;
            img{
                border-radius: 116px;
                width: 76px;
                height: 76px;
                object-fit: cover;
            }
        }
        .identidade{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
            .nome{
                font-size: 17px;
                line-height: 18px;
                color: #c09d49;
                font-weight: 600;
                font-family: "Montserrat";
            }
            .cidade{
                font-size: 16px;
                line-height: 20px;
                color: #686868;
                font-weight: 400;
                font-family: "Montserrat";
            }
        }
    }
    .contain{
        padding: 20px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .left, .right{
            .texto{
                font-size: 16px;
                line-height: 24px;
                color: #686868;
                font-weight: 400;
                font-family: "Montserrat";
                text-align: left;
                a{
                    display: none;
                }
            }
            img{
                width: 100%;
                object-fit: contain;
            }
            width: 48%;
        }
    }
}