.min-banner-servicos{
    width: 100%;
    height: 260px;
    img{
        width: 100%;
        object-fit: contain;
    }
}
.servicos{
    .al-container{
        .title{
            font-size: 45px;
            line-height: 32px;
            color: #393738;
            font-weight: 600;
            font-family: "Montserrat";
            .underline{
                margin: 10px 0;
                width: 155px;
                height: 7px;
                background-image: linear-gradient(90deg, #e9d14f 0%, #b99347 100%);
            }
        }
        .lista{
            padding: 20px 0;
            .pre-listagem{
                padding: 20px 0;
                font-size: 18px;
                line-height: 25px;
                color: #292929;
                font-weight: 400;
                font-family: "Montserrat";
                text-align: left;
            }
            .listagem-ul{
                .item{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: left;
                    align-items: center;
                    border-radius: 20px 0 0 20px;
                    margin: 40px 0;
                    .title{
                        font-size: 38px;
                        line-height: 38px;
                        color: #FFF;
                        font-weight: 600;
                        font-family: "Montserrat";
                        text-transform: capitalize;
                        text-align: center;
                        width: 375px;
                        padding: 40px;
                        height: 240px;
                        background-color: #EDAD31;
                        border-radius: 20px 0 0 20px;
                    }
                    .content{
                        display: flex;
                        justify-content: left;
                        align-items: center;
                        font-size: 22px;
                        line-height: 22px;
                        color: #000;
                        font-weight: 400;
                        font-family: "Montserrat";
                        text-transform: none;
                        text-align: center;
                        border-radius: 0 20px 20px 0;
                        width: 60%;
                        padding: 40px;
                        height: 100%;
                        height: 240px;
                        border: 1px #EDAD31 solid;
                    }
                }
            }
        }
        .quadros{
            padding: 20px 0;
            .pre-quadros{
                padding: 20px 0;
                font-size: 18px;
                line-height: 25px;
                color: #292929;
                font-weight: 400;
                font-family: "Montserrat";
                text-align: left;
            }
            .quadros-ul{
                column-count: 4;
                li{
                    width: calc(($container - 40px)/ 4);
                    padding-top: 10px;
                    img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
            &.implante{
                .quadros-ul{
                    column-count: 5;
                    li{
                        width: calc(($container - 50px)/ 5);
                    }
                }
            }
        }
        .cards{
            padding: 20px 0;
            .pre-cards{
                padding: 20px 0;
                font-size: 18px;
                line-height: 25px;
                color: #292929;
                font-weight: 400;
                font-family: "Montserrat";
                text-align: left;
            }
            .cards-ul{
                display: flex;
                flex-wrap: wrap;
                .card{
                    width: 48%;
                    padding-bottom: 40px;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    .titulo{
                        width: 80%;
                        height: fit-content;
                        padding: 10px;
                        font-size: 18px;
                        line-height: 25px;
                        color: #292929;
                        font-weight: 500;
                        font-family: "Montserrat";
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &.amarelo{
                            background-color: #f2c56e;
                        }
                        &.laranja{
                            background-color: #eeb545;
                        }
                    }
                    .texto{
                        width: 70%;
                        padding: 20px 0;
                        font-size: 18px;
                        line-height: 25px;
                        color: #504e4e;
                        font-weight: 400;
                        font-family: "Montserrat";
                        text-align: left;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
        .separador{
            .line{
                display: flex;
                justify-content: space-between;
                padding: 40px 0;
                .left, .right{
                    width: 48%;
                    font-size: 18px;
                    line-height: 25px;
                    color: #292929;
                    font-weight: 400;
                    font-family: "Montserrat";
                    text-align: left;
                    .lSSlideOuter, .lSSlideWrapper{
                        height: 100%!important;
                    }wpcf7-form
                    .slider-de-schrodinger{
                        height: 100%!important;
                        li{
                            &.detalhe{
                                &:before{
                                    content: "";
                                    display: block;
                                    height: 10px;
                                    width: 140px;
                                    background-color: #e9d14f;
                                    position: absolute;
                                    top: 10px;
                                    left: 70px;
                                }
                                &:after{
                                    content: "";
                                    display: block;
                                    height: 10px;
                                    width: 140px;
                                    background-color: #e9d14f;
                                    position: absolute;
                                    top: auto;
                                    bottom: 10px;
                                    right: 70px;
                                }
                            }
                            height: 100%;
                            overflow: hidden;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img{
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
        .contact{
            width: 70%;
            margin: auto;
            .wpcf7-form{
                p{
                    br{
                        display: none;
                    }
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: baseline;
                    label, .assunto{
                        width: 48%;
                    }
                    #textarea{
                        width: 100%;
                    }
                }
                .load{
                    input{
                        width: 255px;
                        height: 43px;
                        border-radius: 5px;
                        background-image: linear-gradient(90deg, #e9d14f 0%, #b99347 100%);
                        border: 1px solid #e9d14f;
                        font-size: 20px;
                        color: #ffffff;
                        font-weight: 500;
                        font-family: "Montserrat";
                        text-align: center;
                        transition: all .3s;
                        &:hover{
                            color: #e9d14f;
                            background-image: unset;
                            background-color: #FFF;
                        }
                    }
                }
                p{
                    select{
                        width: 100%;
                        max-width: 100%;
                        padding: 5px 20px;
                        margin-bottom: 15px;
                        border: 1px #000 solid;
                        background-color: #FFF;
                        color: #FFF;
                        font-size: 14px;
                        letter-spacing: 0px;
                        color: #3b3b3b;
                        font-weight: 500;
                        font-family: "Montserrat";
                        transition: all .3s;
                    }
                    label{
                        span, br{
                            display: none;
                        }
                        span:last-child{
                            display: block;
                            input, select, textarea{
                                max-width: 100%;
                                width: 100%;
                                padding: 5px 20px;
                                margin: 5px 0;
                                border: 1px #000 solid;
                                background-color: #FFF;
                                color: #FFF;
                                font-size: 14px;
                                letter-spacing: 0px;
                                color: #3b3b3b;
                                font-weight: 500;
                                font-family: "Montserrat";
                                transition: all .3s;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width: 800px) {
    .servicos{
        padding-top: 40px;
        .al-container{
            .quadros{
                .quadros-ul{
                    column-count: 1!important;
                    .quadro{
                        margin: auto!important;
                    }
                }
            }
        }
    }
}
@media screen and(max-width: $container) {
    .min-banner-servicos{
        display: none;
    }
    .servicos{
        padding-top: 40px;
        .al-container{
            .contact{
                width: 100%;
                .wpcf7-form{
                    p{
                        label, .assunto{
                            width: 100%;
                        }
                    }
                }
            }
            .lista{
                padding: 20px 0;
                .pre-listagem{
                    padding: 20px 0;
                    font-size: 18px;
                    line-height: 25px;
                    color: #292929;
                    font-weight: 400;
                    font-family: "Montserrat";
                    text-align: left;
                }
                .listagem-ul{
                    .item{
                        justify-content: center;
                        .title{
                            width: 90%;
                            height: auto;
                            max-height: auto;
                            border-radius: 20px 20px 0 0;
                        }
                        .content{
                            height: auto;
                            max-height: auto;
                            width: 90%;
                            border-radius: 0 0 20px 20px;
                        }
                    }
                }
            }
            .quadros{
                .quadros-ul{
                    column-count: 2;
                    .quadro{
                        margin: auto;
                    }
                }
            }
            .separador{
                .line{
                    flex-wrap: wrap;
                    .order-1{
                        order: 1;
                    }
                    .order-2{
                        order: 2;
                    }
                    .right, .left{
                        width: 100%;
                    }
                }
            }
        }
    }
}