.min-banner{
    width: 100%;
    height: 400px;
    img{
        width: 100%;
        object-fit: contain;
    }
}
.sobre-nos{
    .al-container{
        position: unset;
        &:after{
            content: "";
            display:block;
            background-image: url("./assets/images/detalhe-lateral.webp");
            background-repeat: no-repeat;
            background-size: contain;
            width: 320px;
            height: 218px;
            position: absolute;
            right: 0;
            top: 60px;
        }
        &:before{
            content: "";
            display:block;
            background-image: url("./assets/images/detalhe-lateral.webp");
            background-repeat: no-repeat;
            background-size: contain;
            width: 320px;
            height: 218px;
            position: absolute;
            top: auto;
            bottom:0;
            left: 0;
        }
        .title{
            font-size: 45px;
            line-height: 32px;
            color: #393738;
            font-weight: 600;
            font-family: "Montserrat";
            .underline{
                margin: 10px 0;
                width: 155px;
                height: 7px;
                background-image: linear-gradient(90deg, #e9d14f 0%, #b99347 100%);
            }
        }
        .separate{
            display: flex;
            justify-content: center;
            .left, .right{
                width: 50%;
            }
            .left{
                font-size: 18px;
                line-height: 24px;
                color: #292a2d;
                font-weight: 400;
                font-family: "Montserrat";
                p+p{
                    padding-top: 20px;
                }
            }
            .right{
                display: flex;
                justify-content: center;
                align-items: center;
               .lista-container{
                    max-width: 100%;
                    overflow: hidden;
                    #slider-fotos{
                        li{ 
                            height: -webkit-fill-available;
                            max-width: 100%;
                            overflow: hidden;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img{
                                width: 80%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
        .video{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 60px 0;
            iframe{
                width: 50%!important;
                height: 350px!important;
            }
        }
        .lista{
            padding-bottom: 40px;
            font-size: 18px;
            line-height: 24px;
            color: #292a2d;
            font-weight: 400;
            font-family: "Montserrat";
            p{
                padding: 20px 0;
            }
            ul{
                column-count: 3;
                li{
                    list-style: disc;
                    list-style-position: inside;
                    font-size: 14px;
                    line-height: 35px;
                    color: #292a2d;
                    opacity: 0.5;
                    font-weight: 400;
                    font-family: "Montserrat";
                }
            }
        }
        .equipe{
            #equipe-listagem, #equipe-listagem-mobile{
                li{
                    padding: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: -webkit-fill-available;
                    .perfil{
                        .back, .front{
                            backface-visibility: hidden;
                            transition: all 1s;
                            min-height: 400px;
                            padding: 30px 70px;
                            box-shadow: 0 0 8px 0px rgb(0 0 0 / 25%);
                            max-width: 300px;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            align-items: center;
                        }
                        .back{
                            margin-top: -400px;
                            transform: rotateY(180deg);
                        }
                        &:not(.disable){
                            &:hover{
                                .front{
                                    transform: rotateY(180deg);
                                }
                                .back{
                                    transform: rotateY(0deg);
                                }
                            }
                        }  
                        .foto{
                            border-radius: 120px;
                            border: #FFF solid 6px;
                            width: 120px;
                            height: 120px;
                            overflow: hidden;
                            box-shadow: 0 0 4px 4px rgb(0, 0, 0, 0.25);
                            img{
                                border-radius: 104px;
                                width: 120px;
                                height: 120px;
                                -o-object-fit: cover;
                                object-fit: cover;
                            }
                        }
                        .redes{
                            a{
                                margin: 0 10px;
                                transition: all .3s;
                                img{
                                    transition: all .3s;
                                    height: 35px;
                                    width: 35px;
                                }
                            }
                            a:hover{
                                img{
                                    transform: rotateY(360deg);
                                }
                            }
                        }
                        h2{
                            padding: 20px 0;
                            font-size: 20px;
                            line-height: 17px;
                            color: #2c2c2c;
                            font-weight: 600;
                            font-family: "Montserrat";
                            text-align: center;
                        }
                        h3{
                            padding: 20px 0;
                            font-size: 12px;
                            line-height: 10px;
                            color: #636363;
                            font-weight: 600;
                            text-align: center;
                            font-family: "Montserrat";
                        }
                        .line{
                            height: 8px;
                            width: 120px;
                            border-radius: 20px;
                            background-color: #e0c64d;
                        }
                    }
                }
            }
        }
    }
}
.equipe+.equipe{
    display: none;
}
@media screen and(max-width: $container) {
    .sobre-nos{
        padding-top: 40px;
    }
    .min-banner, .equipe{
        display: none;
    }
    .equipe+.equipe{
        display: block;
    }
    .sobre-nos{
        .al-container{
            &::before, &::after{
                display: none;
            }
            .separate{
                flex-wrap: wrap;
                .left, .right{
                    width: 100%;
                }
            }
            .video{
                iframe{
                    width: 100%!important;
                    height: 315px!important;
                }
            }
            .lista{
                ul{
                    column-count: 1;
                }
            }
        }
    }
}